* {
  font-family: inter, sans-serif;
  color: #fff;
}
* h2 {
  font: 600 normal 54px inter, sans-serif;
}
* h3 {
  font: 600 normal 32px inter, sans-serif;
  line-height: 2.4;
}
* h4 {
  font: 600 normal 24px inter, sans-serif;
}
body {
  background-color: #111;
}
.row-content {
  margin: 0;
  padding: 50px 0;
}
.row-content .col-content {
  padding: 0;
}
.navbar {
  margin-bottom: 20px;
}
.navbar .navbar-brand img {
  height: 30px;
  width: auto;
}
.navbar #collapseNav .nav-item {
  font: 600 normal 16px inter, sans-serif;
}
.navbar #collapseNav .nav-item .nav-link {
  color: #e6e6e6;
}
.navbar #collapseNav .nav-item .nav-link:hover {
  color: #fff;
}
.navbar #collapseNav button {
  font: 600 normal 16px inter, sans-serif;
  padding: 10px 18px;
  border-radius: 0;
  border-width: 2px;
}
#title-section h1 {
  font: bold normal 66px inter, sans-serif;
  color: #fff;
}
#title-section h1 span {
  font: 500 normal 66px inter, sans-serif;
}
#title-section p {
  max-width: 570px;
  font: 500 normal 16px inter, sans-serif;
  color: #292929;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  #title-section p {
    max-width: 100%;
  }
}
#title-section #talkForm {
  max-width: 450px;
  height: 68px;
  border-radius: 40px;
  background-color: #2e2e2e;
  box-sizing: border-box;
  display: flex;
}
#title-section #talkForm .form-group {
  flex-grow: 1;
  padding-left: 25px;
}
#title-section #talkForm .form-group input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
}
#title-section #talkForm .form-group input::placeholder {
  font: 500 14px inter, sans-serif;
  color: #7b7b7b;
}
#title-section #talkForm .form-group img {
  width: 20px;
  filter: brightness(49%);
  -webkit-filter: brightness(49%);
  -moz-filter: brightness(49%);
}
#title-section .btn {
  border-radius: 40px;
}
#home .img-fluid {
  max-height: 460px;
  position: relative;
  top: -50px;
}
@media screen and (max-width: 484px) {
  #home .img-fluid {
    height: auto;
    width: 80%;
  }
}
#talkModal .modal-header {
  background-color: #1d1d1d;
  color: #fff;
}
#talkModal .modal-header .close {
  color: #e6e6e6;
}
#talkModal .modal-header .close:hover {
  color: #fff;
}
#attorneys p {
  font: 500 normal 16px inter, sans-serif;
  color: #292929;
  line-height: 1.5;
}
#attorneys .border-lg {
  border-left: 1px solid #e6e6e6;
}
@media screen and (max-width: 991px) {
  #attorneys .border-lg {
    border: none;
  }
}
#attorneys .card {
  background-color: transparent;
  border: 1px solid #2e2e2e;
  border-radius: 16px;
}
#attorneys .card .btn {
  border-radius: 40px;
}
#practiceAreas img {
  object-fit: cover;
}
